<!doctype html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Untitled Document</title>
    <link rel="stylesheet" href="css/main.css" />
</head>

<body>
    <div class="container">
        <header class="page-header">
            <h1>Título página</h1>
        </header>
        <nav class="page-nav">
            <ul>
                <li><a href="#">Sección 1</a></li>
                <li><a href="#">Sección 2</a></li>
                <li><a href="#">Sección 3</a></li>
                <li><a href="#">Sección 4</a></li>
            </ul>
        </nav>
        <main class="page-main">
            <section class="page-section">
                <h2>Sección 1</h2>
            </section>

            <section class="page-section">
                <h2>Sección 2</h2>
            </section>

            <section class="page-section">
                <h2>Sección 3</h2>
            </section>

            <section class="page-section">
                <h2>Sección 4</h2>
            </section>
        </main>
        <footer class="page-footer">
            <p>Todos los derechos reservados | eduMac 2017 | Sergio Pg</p>
        </footer>
    </div>
    <div id="js">
        <script src="js/lib/jquery-3.2.1.min.js"></script>
        <script src="js/main.js"></script>
    </div>
</body>

</html>