@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/* Normalize */
@import url("lib/normalize.css");

/* Generals */
body {
	font-family: 'Open Sans', sans-serif;
}

/* Header */

/* Nav */

/* Main */

/* Footer */

/* Helpers */