@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/* Normalize */
@import url("lib/normalize.css");

/* Generals */
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
figure {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}

/* Header */

/* Nav */

/* Main */

/* Footer */

/* Helpers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}