@charset "UTF-8";

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");

/* Normalize */
@import url("lib/normalize.css");

/* Grid */
@import url("lib/grid.css");

/* Generals */
body {
    background-color:#000;
    font-family: 'Open Sans', sans-serif;
    color:#FFF;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
figure {
    margin: 0;
}
img {
    display: block;
    max-width: 100%;
}

/* Header */
.page-header{
    padding: 16px  0 14px;
    background-color: #000;
    border-bottom: 1px solid #FCEE21;
}

.page-header__logo,
.page-nav,
.social-media{
    display:inline-block;
    vertical-align: top;
}
.page-header__logo{
    max-width: 280px;
    margin:0;
}

.page-nav li, 
.social-media li{
    display:inline-block;
  
}

.page-nav a,
.social-media a{
display: block;
padding: 14px;
color: #fff;
font-size:14px;
font-weight: 300px;
text-transform: uppercase;
text-decoration: none;
transition: all .3s;


}
.social-media a{
    font-size:18px;
}
.page-nav a:hover,
.social-media a:hover{

color: #FCEE21;


}
.page-nav a::before{
content: '/';

}

.social-media{
    float:right;
}


/* Main */
.article-main{
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #666;
}
.article-main__header{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0, .5);
    padding: 10px;
}
.article-main__header-title a{ 
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    color: #FCEE21;

}
.article-main__header-title a:hover{
    text-decoration: underline;
}

.article-main__header-summary{
    font-weight: 300;
}
.article-sec{
    padding: 20px 0;
    border-bottom: 1px solid#666;
}

.article-sec:before,
.article-sec:after {
    content: '';
    display:block;
}
.article-sec:after {
    clear:both;

}
.article-sec__image{
    float: left;
    width: 25%;
    margin-right: 20px;
}

.article-sec__tag {
    display: inline-block;
    padding: 6px 10px;
    margin-right: 8px;
    background-color: #FCEE21;
    font-size: 14px;
    font-weight: 700;
    color:#000;
    -webkit-transform: skewX(-15deg);
    transform:  skewX(-15deg);
    position: relative;
    text-decoration: none;
 
}

.article-sec__tag:hover{
    text-decoration: underline;
}
.article-sec__tag:after {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 100%;
    border: 0 solid transparent;
    border-top-width: 10px;
    border-right-width: 8px;
    border-top-color: #FCEE21;

}
.article-sec__date,
.article-sec__aux,
.article-sec__section{
    font-size: 14px;
    color: #666;
    text-decoration:none;

}

.article-sec__section:hover{
    text-decoration: underline;
}
.article-sec__title a{
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    line-height: 1.2;
    color: #FFF;
}

.article-sec__title a:hover{
    text-decoration: underline;
    color:#FCEE21;  
}
.article-comp {
    padding: 20px 0;
    border-bottom: 1px solid #666; 
}
.article-comp:before,
.article-comp:after {
    content: '';
    display:block;
}
.article-comp:after {
    clear:both;

}
.article-comp__image{
    float: left;
    width: 45%;
   
}
.article-comp__tag {
    font-size: 14px;
    color: #FCEE21;
    text-decoration: none;
}
.article-comp__tag:hover{
    text-decoration: underline;
}
.article-comp__title a {
   font-size: 14px;
   font-weight: 400;
    color: #FFF;
    text-decoration: none;
}

.article-comp__title a:hover{
    color:#FCEE21;
    text-decoration: underline;
}

.article-comp__date,
.article-comp__aux,
.article-comp__section{
    font-size: 14px;
    color: #666;
    text-decoration:none;

}
.article-comp__content {
    width: 50%;
    float: right;
}
/* Footer */

.final{
    
}

/* Helpers */
.clearfix:before,
.clearfix:after {
    content: "";
    display: block;
}
.clearfix:after {
    clear: both;
}
.margin-bottom,
.mb {
    margin-bottom: 25px;

}
.margin-top,
.mt {
    margin-bottom: 25px;

}
.margin-vertical,
.mv {
    margin-bottom: 25px 0;

}

.hidden,
.hd {
position:absolute;
width: 1px;
height: 1px;
text-indent: -999px;
overflow: hidden;
opacity: 0;
}